<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h2>Account controls</h2>
    <button onclick="history.back()">Back</button><br><br>
    <h3>Log out</h3>
    <label for="logout_button">Press this button to log out. Your current in-progress roster is saved.</label><br>
    <form action="/login" method="post"><input type="submit" value="Logout button" name="submit" id="logout_button">
    </form><br><br><br>
    <h3>Delete account</h3>
    <form action="/deletemyaccount" method="post">
        <label for="username_input">Confirm username:</label><br>
        <input type="text" id="username_input" name="username"><br><br>
        <label for="password_input">Confirm password:</label><br>
        <input type="password" name="password" id="password_input"><br><br>
        <label for="delete_account_confirmation_checkbox">I really do want to delete my account</label>
        <input type="checkbox" name="confirm_delete" id="delete_account_confirmation_checkbox"><br><br>
        <input type="submit" value="Delete my account">
    </form>
</body>

</html>