<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Roster Creation</title>
</head>

<body>
    <section id="Roster table">
        <table>
            <tr>
                <th>Day</th>
                <th>Shifts</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            {% for row in table %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>
    <section id="Input for roster generation">
        <h3>Add dentist shift</h3>
        <form action="/tool" method="post">
            <label for="day_input">Day</label><br>
            <input type="text" id="day_input" name="day"><br><br>
            <label for="start_time_input">Start time:</label><br>
            <input type="text" id="start_time_input" name="start"><br><br>
            <label for="end_time_input">End time:</label><br>
            <input type="text" id="end_time_input" name="end"><br><br>
            <label for="id_input">Dentist's ID (number):</label><br>
            <input type="number" id="id_input" name="id"><br><br>
            <input type="submit" value="Add dentist" name="dentist_submit">
        </form>
        <form action="/tool" method="post">
            <input type="submit" value="Delete last dentist" name="dentist_submit">
        </form>
    </section>
</html>