<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Roster Creation</title>
</head>

<body>
    <section id="Roster table">
        <table>
            <tr>
                <th>Day</th>
                <th>Shifts</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            {% for row in table %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>
    <section id="Input for roster generation" style="display: flex; flex-direction: column;">
        <div>
            <h3>Add dentist shift</h3>
            <form action="/tool" method="post">
                <label for="day_input">Day</label><br>
                <input type="text" id="day_input" name="day"><br><br>
                <label for="start_time_input">Start time:</label><br>
                <input type="text" id="start_time_input" name="start"><br><br>
                <label for="end_time_input">End time:</label><br>
                <input type="text" id="end_time_input" name="end"><br><br>
                <label for="id_input">Dentist's ID (number):</label><br>
                <input type="number" id="id_input" name="id"><br><br>
                <input type="submit" value="Add dentist" name="submit">
            </form>
            <form action="/tool" method="post">
                <input type="submit" value="Delete last dentist" name="submit">
            </form>
        </div>
        <div>
            <h3>Add employees</h3>
            <form action="/tool" method="post">
                <label for="name_input">Employee name:</label><br>
                <input type="text" id="name_input" name="name"><br><br>
                <label for="max_hours_input">Employee maximum weekly hours:</label><br>
                <input type="number" id="max_hours_input" name="max_hours"><br><br>
                <label for="max_days_input">Employee maximum weekly days:</label><br>
                <input type="number" id="max_days_input" name="max_days"><br><br>
                <!-- Available days input here, maybe a selection checklist would work -->
                <input type="text">
                <!-- Available roles input here, unsure how to do assistant for each dentist -->
                <input type="text">
                <input type="submit" value="Add employee" name="submit">
            </form>
        </div>
    </section>
</html>